#Postgres Configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=ouija

#Redis Configuration
REDIS_PASSWORD=password
REDIS_HOST=redis
REDIS_PORT=6379

#Application Configuration
DATABASE_URL="postgresql://root:password@postgres:5432/ouija?schema=public"
#make sure the password is the same as POSTGRES_PASSWORD variable