services:
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - app-network

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    env_file:
      - path: .env
        required: true
    ports:
      - "3001:3001"
    depends_on:
      - postgre
      - redis
    networks:
      - app-network

  redis:
    image: redis:7
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

  postgre:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./services/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

volumes:
  redis-data:
  pg-data:

networks:
  app-network:
    driver: bridge