@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', 'Roboto', sans-serif;
}

html {
  font-size: 10px;

  body {
    width: 100%;
    min-height: 100vh;

    .container {
      width: 100%;
      height: 90vh;
      overflow: auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #14110f;
      color: #f3f3f4;

      text-align: center;
      font-weight: 500;
    }
  }
}
