.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 3rem;
  gap: 2rem;
  background: #ff69b4;

  &Link {
    text-decoration: none;
    color: #fff;
    font-size: 2.3rem;
    text-align: center;
  }

  &Logo {
  }
}
