.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.Contacts {
  display: flex;
  flex-direction: column;
  width: 12%;
  align-self: flex-start;
  height: 100%;
  border-right: 0.1rem solid lighten(#14110f, 10);

  &ChatPreview {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #35323c;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-block: 0.1rem;

    &ProfilePicture {
      margin-inline: 0.5rem;
    }

    &MessageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &Name {
        font-size: 1rem;
        font-weight: bolder;
        margin-bottom: 0.5rem;
      }

      &Message {
        font-size: 0.9rem;
        text-align: left;
      }
    }
  }
}

.Chat {
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &ContactInfo {
    width: 100%;
    height: 10%;
    border-bottom: 0.1rem solid lighten(#14110f, 10);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-inline: 0.5rem;

    h2 {
      font-size: 2rem;
    }

    h5 {
      font-size: 0.8rem;
    }
  }

  &MessageContainer {
    width: 100%;
    overflow: auto;
    height: 80%;
    display: flex;
    flex-direction: column;

    &YourMessage {
      align-self: flex-end;
      background-color: lighten(#14110f, 40);
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 0.5rem;
      margin-block: 0.5rem;
      margin-inline: 0.9rem;
    }

    &ContactMessage {
      align-self: flex-start;
      background-color: lighten(#14110f, 25);
      font-size: 1.6rem;
      border-radius: 1rem;
      padding: 0.5rem;
      margin-block: 0.5rem;
      margin-inline: 0.9rem;
    }
  }

  &MessageToolbar {
    width: 100%;
    height: 10%;
    border-top: 0.1rem solid lighten(#14110f, 10);

    display: flex;
    justify-content: center;
    align-items: center;

    &Input {
      background-color: transparent;
      color: #f3f3f4;
      padding: 1rem;
      margin: 0 1rem;
      font-size: 2rem;
      border-radius: 0.5rem;
      border: 1px solid rgba(243, 243, 244, 0.24);
      transition: border-color 250ms ease-in-out;
    }

    &Input:focus {
      outline: none;
      border-color: #f3f3f4;
    }

    &Submit {
      align-self: flex-start;

      padding: 1rem;
      margin: 0 1rem;

      font-weight: 300;
      font-size: 2rem;

      border-radius: 1rem;
      border: 1px solid rgba(243, 243, 244, 0.24);
      color: #f3f3f4;
      background-color: transparent;
    }

    &Submit:hover {
      cursor: pointer;
    }
  }
}
